{% extends 'base.html' %}

{% block title %}
  Лента записей
{% endblock %}

{% block content %}
        <h1>Лента записей</h1>                        
        <!-- Перебираем в цикле все посты -->
        {% for i in post %}
        <hr>
        {% include 'includes/article.html' %}     
          <!-- Первые 10 слов -->
          <p>
            {{ i.text|truncatewords:10}}...
          </p>
          <a href="{% url 'blog:post_detail' i.id %}">Читать полный текст</a>
        {% endfor %}
      </article>                
{% endblock %}
